*{
    margin: 0;
    padding: 0;
}

.GRID-CONTAINER{
    display: grid;
    grid-template-areas: 
        "NAV"
        "FILTRO"
        "MAIN"
        "PAGINACION"
        "FOOTER";
    grid-template-rows: 0.5fr 0.5fr 20fr 0.5fr 0.5fr;
    width: 100%;
}

.NAVEGADOR-GRID{
    grid-area: NAV;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(6, 42, 64);
    color: white;
}
            .header1{
                display: flex;
                flex-direction: row;
            }

            .menuOculto{
                display: none;
            }

.FILTRO-GRID{
    grid-area: FILTRO;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgb(66, 63, 63);
  
            }
            .filtro>p{
                margin-bottom: 10px;
            }

.MAIN-GRID{
    grid-area: MAIN;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
                .producto{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-content: space-around;
                    align-items: center;
                    border: 1px solid rgb(202, 202, 202);
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                    padding-bottom: 5px;
                
                }

                .producto:hover{
                    transform: scale(1.03);
                }
                .producto>img{
                    height:250px;
                    width: 250px;
                }
                .producto>p{
                    font-size: 20px;
                    text-wrap: wrap;
                }
                .producto>button{
                    background-color: #212020;
                    color: white;
                    padding: 6px;
                    border-radius: 10%;
                }

.PAGINACION-GRID{
    grid-area: PAGINACION;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.FOOTER-GRID{
    grid-area: FOOTER;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 65, 89);
    color: white;
}
                .no-link{
                    color:white !important;
                }

                button:hover{
                    background-color:rgb(26, 46, 87) !important;
                }






/*Version Desktop*/
@media (width>=992px){
.GRID-CONTAINER{
        
        width: 100%;
        grid-template-areas:
        "NAV FILTRO"
        "NAV MAIN"
        "FOOTER PAGINACION";
        grid-template-rows: 0.6fr 8fr 0.5fr;
        grid-template-columns:2fr 10fr;
    }
.FILTRO-GRID{
        grid-area: FILTRO;
        position: sticky;
        top: 0;
    }
            .filtro>select{
                width: 90%;
            }
 .NAVEGADOR-GRID{
    grid-area: NAVEGADOR;
        grid-area: NAV;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .header1{
        display: flex;
        flex-direction: row;
        position:sticky;
        top: 0;
    }
    .header1>span{
        padding-top: 15%;
        padding-bottom: 10%;
        text-align: center;
    }
    .header1>h3{
        text-align: center;
        padding-top: 15%;
        padding-bottom: 10%;
    }
    .menuOculto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position:sticky;
        top: 105px;
    }
    .menuOculto>span{
        font-size: 20px;
    }
    .paginador{
        position: sticky;
        bottom: 0;
    }
.FOOTER-GRID{
        grid-area: FOOTER;
        position: sticky;
        bottom: 0;
    }
    footer>span{
        text-align: center;
    }
.MAIN-GRID{
       grid-area: MAIN;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
}